<ion-content class="ion-padding">
  <div class="background-image"></div>
  <div class="container">
    <div class="content">
      <ion-img class="logoLogin" src="assets/icon/logo.png"></ion-img>
      
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="registrar()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>